# PostgreSQL Configuration
POSTGRES_PASSWORD=yourpassword

# Inventory Database
INVENTORY_DB_USER=user01
INVENTORY_DB_PASSWORD=password
INVENTORY_DB_NAME=inventory_db

# Billing Database
BILLING_DB_USER=user01
BILLING_DB_PASSWORD=password
BILLING_DB_NAME=billing_db

# RabbitMQ Configuration
RABBITMQ_USER=rabbit
RABBITMQ_PASSWORD=password
RABBITMQ_QUEUE=billing_queue
RABBITMQ_PORT=5672

# Service Ports
INVENTORY_APP_PORT=8080
APIGATEWAY_PORT=3000
BILLING_APP_PORT=8080
